---
layout:
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include header.html %}
  {% include menu.html %}
  <div class="page-content welcome">
    <div class="wrap">
      <div class="page">
      <header class="page-header">
        <h1>SEED.BR</h1>
      </header>
        <article class="page-inner-content">

          <p>Bem-vinda(o) ao sítio do grupo de pesquisa SEED.BR!</p>

          <p><b>SEED.BR</b> (<i>Software Ecosystems, Evolution and Design</i>)
          é um grupo de pesquisa brasileiro
          <a href="https://dgp.cnpq.br/dgp/espelhogrupo/795424">certificado</a>
          e vinculado ao Instituto de Computação
          (<a href="https://computacao.ufba.br/">IC</a>)
          da Universidade Federal da Bahia (<a href="https://portal.ufba.br">UFBA</a>)
          e seu Programa de Pós-graduação em Computação
          (<a href="https://pgcomp.ufba.br">PGCOMP-UFBA</a>).</p>

          <p>O grupo SEED.BR foi criado em 2 de julho de 2021, como sucessor do
          grupo de pesquisa  <a href="http://aside.dcc.ufba.br">aSide@ufba</a>
          (<em>Software Design and Evolution</em>), pioneiro na pesquisa
          científica em Engenharia de Software na UFBA e certificado no
          DGP-CNPq por 18 anos (2003-2020).</p>

          <h3>Linhas de Pesquisa</h3>

          <ul>
            <li>Engenharia de Software</li>
            <li>Educação em Computação</li>
            <li>Ciência Aberta</li>
            <li>Linguagens de Programação</li>
          </ul>

        </article>
      </div>
    </div>
  </div>

  {% include footer.html %}
  </body>
</html>
