<nav class="menu">
  <div class="wrap">
    <ul>
      <li><a href="{{ site.baseurl }}/inicio">Início</a></li>
      <li><a href="{{ site.baseurl }}/slides">Slides</a></li>
      <!--<li><a href="{{ site.baseurl }}/pesquisa">Pesquisa</a></li>-->
      <li><a href="{{ site.baseurl }}/publicacoes">Publicações</a></li>
      <li><a href="{{ site.baseurl }}/material">Material</a></li>
      <!--<li><a href="{{ site.baseurl }}/pessoas">Pessoas</a></li>-->
      <li><a href="{{ site.baseurl }}/sobre">Sobre</a></li>
    </ul>
  </div>
</nav>
