<div class="page-content welcome">
  <div class="wrap">
    <header class="page-header">
          <h1>Bem-vinda(o) ao Sítio do SEED.BR!</h1>
          <h1>{{ page.title }}</h1>
    </header>
    <div class="page">

<b>SEED.BR</b> (<i>Software Ecosystems, Evolution and Design</i>) é um grupo de pesquisa brasileiro
<a href="https://dgp.cnpq.br/dgp/espelhogrupo/795424">certificado</a>
e vinculado ao <a href="https://computacao.ufba.br/">Instituto de Computação (IC)</a>
da Universidade Federal da Bahia <a href="https://portal.ufba.br">UFBA</a>
e seu Programa de Pós-graduação em Computação (<a href="https://pgcomp.ufba.br">PGCOMP-UFBA</a>).


    </div>
  </div>
</div>

