---
layout: event-wrapper
menu:
  - name: Sobre
    url: /2023/#about
  - name: Orientações
    url: /2023/#guidelines
  - name: Equipe
    url: /2023/#staff
---

{% include partials/navigation.html -%}

{% if page.main_page %}
  {% include partials/banner.html %}
  {% include partials/about.html %}
  {% include partials/statistics.html %}
  {% include partials/guidelines.html %}
  {% include partials/staff.html %}
{% else %}
  {% include partials/title.html %}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">

          {{ content }}

        </div>
      </div>
    </div>
  </section>
{% endif %}

{% include partials/footer.html %}
