<!--============================
=            Banner            =
=============================-->

<section class="banner bg-banner-one overlay" style="background: url({{ site.baseurl}}/{{ page.banner_image }}) no-repeat;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Content Block -->
				<div class="block">
					<!-- Coundown Timer -->
					<div class="timer"></div>
					<h1>{{ page.event_initials }}</h1>
					<h6>{{ page.event_name }}</h6>
					<h6>{{ page.date_and_place }}</h6>
					<!-- Action Button -->
					<!-- <a href="contact.html" class="btn btn-white-md">get ticket now</a> -->
				</div>
			</div>
		</div>
	</div>
</section>
	
<!--====  End of Banner  ====-->